---
    name: Publish Helm Chart
    
    on:
      workflow_dispatch:
        inputs: {}
      workflow_call: {}
    permissions:
      contents: write  # required to checkout the code from the repo and to perform release
      packages: write  # required to publish to packages
      pull-requests: write
    
    env:
      TAG_RULES: |
        type=raw,value=latest
        type=sha
        type=sha,format=long
        type=semver,pattern={{version}},value=${{ inputs.release_tag }}
    
    jobs:
      articache-helm:
        permissions:
          contents: read
          packages: write
          pull-requests: write
        runs-on: ubuntu-22.04
        steps:
          - name: Checkout
            uses: actions/checkout@v3
            with:
              fetch-depth: 0
          - name: release chart
            uses: helm/chart-releaser-action@v1.6.0
            with:
              charts_dir: helm
            env:
              CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    
    #   release-update:
    #     runs-on: ubuntu-latest
    #     if: success()
    #     needs: [flight-docker, identity-docker, passenger-docker, booking-docker]
    #     steps:
    #       - name: Release Update - ${{ inputs.release_tag }}
    #         uses: softprops/action-gh-release@v1
    #         env:
    #           REGISTRY: ghcr.io
    #         with:
    #           tag_name: "v${{ inputs.release_tag }}"
    #           append_body: true
    #           body: |
    #             - GitHub Packages Container URLs: 
    #               - ${{ env.REGISTRY }}/${{ github.repository }}-flight:${{ inputs.release_tag }}
    #               - ${{ env.REGISTRY }}/${{ github.repository }}-identity:${{ inputs.release_tag }}
    #               - ${{ env.REGISTRY }}/${{ github.repository }}-passenger:${{ inputs.release_tag }}
    #               - ${{ env.REGISTRY }}/${{ github.repository }}-booking:${{ inputs.release_tag }}
    #           token: ${{ secrets.GITHUB_TOKEN }}
    